@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: robotoThin;
  src: url(./fonts/Roboto-Thin.ttf);
}
h1,h2,h3,h4,h5,h6{
  margin: 0px;
}
body {
  margin: 0;
  padding: 50px;

  background-color: rgb(170, 223, 248);
  font-family: roboto;
}
.padding-bg {
  background-image: url(./images/background.jpg);
  background-size: cover;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
}
.icon {
  width: 95px;
  height: 65px;
  padding: 10px;
}
.headar {
  display: flex;
  color: white;
}
.main-menu {
  display: flex;
  padding-right: 100px;
}
.main-menu-item {
  padding: 32px 20px 8px 10px;
}
.spacer {
  flex-grow: 1;
}
.search-box {
  padding-top: 28px;
  width: 200px;
  background: unset;
  border-radius: 50px;
}
.search-icon {
  display: inline;
  padding-top: 8px;
}
.search-box input {
  font-size: 20px;
  border: none;
  padding: 8px;
  border-radius: 50px;
}
.search {
  color: black;
  position: relative;
  bottom: 25px;
  left: 10px;
}
.bag-icon {
  padding: 40px 20px 8px 80px;
}
.user-icon {
  padding: 8px 20px 8px 0px;
}

.main-menu-topic {
  display: block;

  margin: 0;
}
.second-line {
  display: flex;
  box-sizing: border-box;

  width: 100%;
  padding: 50px 100px 10px 100px;
  height: 300px;
  content: "";
}
.main-title {
  padding-top: 10px;
}

/*left side of second line*/

.left-side {
  display: flex;
}
.img-menu-texts {
  width: 29%;
}
.img-menu-texts ul {
  padding-top: 100px;
}
.img-menu-texts ul li {
  list-style-type: none;
}
.rotate-txt {
  transform-origin: 0 0;
  transform: rotate(-90deg);
  padding-bottom: 100px;
}

.img-set {
  width: 70%;
  padding-top: 100px;
}
.img-item {
  width: 16%;
  height: auto;
  display: flex;
  border: 5px;
  border-radius: 20px !important;
  border: 2px white solid;
  margin-top: 20px;
}
.rotate-txt-TOW {
  transform-origin: 0 0;
  transform: rotate(-90deg);
  padding-bottom: 100px;
  color: rgb(232, 99, 11);

}
.body-sizes {
  width: 10%;
  display: inline-flex;
  padding-top: 15px;

  padding-left: 10px;
}
.body-sizes-item {
  border: 2px white solid;
  margin: 10px 10px 10px 10px;
  border-radius: 50%;
  padding: 10px;
  /* width: 50px;
  height: 50px; */
  background-color: white;
}
.body-sizes-bag {

  margin-left: 10px;
  
}
.plus-mark{
  padding-left: 20px;
  font-size: 40px;    
  background-color: rgb(232, 99, 11);
  padding-bottom: 28px;
  display: inline-flex;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  margin-left: 10px;
}
.price{
  display: flex;
  padding: 10px 10px 0px 10px ;
}
.price h3{
  text-decoration: line-through;
  padding: 10px 10px 10px 10px ;
}
.price h4{
 
  padding-left: 50px;
}
.last-btn{
  height: 70px;
  margin-top: 10px;
  width: 420PX ;   
  background-color: rgb(232, 99, 11);
  display: flex;

}
.angle-left{
  font-size: 60px;
  padding: 4px 10px 10px 10px ;
  border:  1px ;
  height: 54px;
  width: 50px;
  background-color: rgb(232, 99, 11);

}
.angle-right{
  font-size: 60px;
  padding: 4px 10px 10px 10px ;
  border:  1px ;
  height: 54px;
  width: 50px;
  background-color: rgb(230, 92, 0);

}
.last-btn h3{
  padding: 25px 20px 20px 25px ;
}
.angle-down{
  font-size: 60px;
  padding: 4px 10px 10px 35x ;
  border: 1px  ;
  height: 54px;
  width: 50px;
  background-color: rgb(232, 99, 11);