@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: robotoThin;
  src: url(./fonts/Roboto-Thin.ttf);
}
body {
  margin: 0;
  padding: 50px;

  background-color: rgb(170, 223, 248);
  font-family: roboto;
}
.padding-bg {
  background-image: url(./images/background.jpg);
  background-size: cover;
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
}
.icon {
  width: 95px;
  height: 65px;
  padding: 10px;
}
.headar {
  display: flex;
  color: white;
}
.main-menu {
  display: flex;
  padding-right: 100px;
}
.main-menu-item {
  padding: 8px 20px 8px 10px;
}
.spacer {
  flex-grow: 1;
}
.search-box {
  padding-top: 28px;
  width: 200px;
  background: unset;
  border-radius: 50px;
}
.search-icon {
  display: inline;
  padding-top: 8px;
}
.search-box input {
  font-size: 20px;
  border: none;
  padding: 8px;
  border-radius: 50px;
}
.search {
  color: black;
  position: relative;
  bottom: 25px;
  left: 10px;
}
.bag-icon {
  padding: 40px 20px 8px 80px;
}
.user-icon {
  padding: 8px 20px 8px 0px;
}
.img-set {
  padding-left: 200px;
  border: 1px;
}
.img {
  width: 8%;
  height: auto;
  display: flex;
  border: 5px;
  border-radius: 20px !important;
  border: 1px white solid;
  margin-top: 20px;
}
.main-menu-topic {
  display: block;
  padding-left: 800px;
  margin: 0;
}
