.icon{
  padding-left: 20px;

}
.h3f{
   position: relative;
   padding-left: 500px;
   font-family: roboto sans-serif;
   bottom: 40px;
}
.h3s{
    position: relative;
    bottom: 80px;
    padding-left: 600px;
}
.h3t{
    position: relative;
    bottom: 120px;
    padding-left: 700px;
}
.lineo{
    position: relative;
    bottom: 130px;
}
.search-box{
    width: 150px;
    border: 5px snow;
    background-color: rgb(207, 207, 207);
    height: 25px;
    padding-left: 30px;
    color: #ffffff;
    padding-top: 10px;
    position: relative;
    left: 1000px;
    bottom: 250px;
    border-bottom: black;

}
.search{
    position: relative;
    left: 70px;
    color: rgb(0, 0, 0);
}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: robotoThin;
    src: url(./fonts/Roboto-Thin.ttf);}



