@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: robotoThin;
    src: url(./fonts/Roboto-Thin.ttf);
}
.roboto-font{
    font-family: roboto;
}
.roboto-thin-font{
    font-family: robotoThin;
}

html{
    font-family: roboto;
}
.spacer{
    flex-grow: 1;
}
.header{
    display: flex;
}

.main-menu{
    display: flex;
    padding-right: 100px;
}
.main-menu-item{

    /*
        Padding all : top right bottom left
    */
    padding:8px 20px 8px 10px;
}

.header .logo img{
    width:80px;
    height: auto;
}
.main-menu-icons{
    padding-top:25px;
    font-size: 25px;
}
.main-menu-icons i{
    padding:8px;

    margin-right:20px;
}
.search-box{
    display: inline;
}
.search-icon{
    display: inline;

}
.line{
    display: flex;
}.second-menu{
    display: flex;
   
   
}