@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: robotoThin;
  src: url(./fonts/Roboto-Thin.ttf);
}
.roboto-font {
  font-family: roboto;
}
.roboto-thin-font {
  font-family: robotoThin;
}

html {
  font-family: roboto;
}
.spacer {
  flex-grow: 1;
}
.header {
  display: flex;
}

.main-menu {
  display: flex;
  padding-right: 100px;
}
.main-menu-item {
  /*
        Padding all : top right bottom left
    */
  padding: 8px 20px 8px 10px;
}

.header .logo img {
  width: 80px;
  height: auto;
}
.main-menu-icons {
  padding-top: 13px;
  font-size: 25px;
}
.main-menu-icons i {
  padding: 8px;

  margin-right: 20px;
}
.search-box {
  display: inline;
}
.search-box input {
  font-size: 20px;
  border: none;
  background-color: rgb(207, 207, 207);
  padding: 8px;
}
.search-icon {
  display: inline;
  position: relative;
  left: -50px;
  top: 3px;
}
.line {
  display: flex;
  height: 2px;
  background: #21212133;
}
.second-menu {
  font-family: robotoThin;
  text-align: center;
}
.second-menu-item {
  display: inline-block;
  padding-right: 50px;
}

#usp-delivery {
  width: 25px;
  position: relative;
  top: 6px;
}
.icon-second {
  width: auto;
  height: 20px;
  position: relative;
  right: 70px;
  top: 19px;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0f0f0f;
  text-decoration: underline;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.arrow {
  position: relative;
  top: 37px;
  left: 17px;
}
.adizero {
  padding: 10px;
}
